[
{"Title":"设置逻辑变量值","Description":"设置包括软件丢点是否打开、数字触发是否打开灯。参数见列表","CommandStr":":FACT:CALI:LOGV","ParamList":["DigitTrigger,on","DigitTrigger,off","AdcTestMode,on","AdcTestMode,off","AdcFlashMode,on","AdcFlashMode,off","AdjustGainByTemperature,on","AdjustGainByTemperature,off","UsingMatlab,on","UsingMatlab,off","bAcqStatisticsRunning,on","bAcqStatisticsRunning,off"]},
{"Title":"获取采集统计信息","Description":"获取采集统计信息","CommandStr":":FACT:CALI:SPEC:DATA ? ","ParamList":["GetAcqStatisticsInfo"]},
{"Title":"重新执行AutoCaliAtInit","Description":"重新执行AutoCaliAtInit","CommandStr":":FACT:CALI:SPEC:DATA","ParamList":["AutoCaliAtInit"]},
{"Title":"重新装载采集板与处理板间触发亚稳态窗","Description":"重新装载采集板与处理板间触发亚稳态窗","CommandStr":":FACT:CALI:SPEC:DATA","ParamList":["ReloadAndSetting_Procboard2AcqBoardTrigWindow"]},
{"Title":"重新装载采集板与处理板间触发延迟","Description":"重新装载采集板与处理板间触发延迟","CommandStr":":FACT:CALI:SPEC:DATA","ParamList":["ReloadAndSetting_AcqProcBdLooptimeDelay"]},
{"Title":"重新装载模拟通道温补曲线","Description":"重新装载模拟通道温补曲线","CommandStr":":FACT:CALI:SPEC:DATA","ParamList":["ReloadAndSetting_PhyAnalogChannelAmpTemperatueCoefficient"]},
{"Title":"重新执行Adc扫窗","Description":"重新执行Adc扫窗","CommandStr":":FACT:CALI:SPEC:DATA","ParamList":["Cali_AdcReceiveStabilityAtDebugStopMode"]}
]