<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="support_products" type="FPGAViewerSimpleness.ProductDefineHandler,FPGAViewerSimpleness" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DefaultProductName" value="EventCounter">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <support_products>
    <product name="JPO6000" 
             Default_Doc_FPGA_FileName="JPO6000_Doc_FPGA.html" 
             Default_Doc_SoftwareRegister_FileName="JPO6000_Doc_SoftwareRegister.html" 
             Default_Software_RegisterDefine_FileName="FpgaRegister.cs" 
             SoftwareRegisterDefineGroup="false" 
             CodeGeneratorClassName="CodeGenerator_CSharp" 
             CodeFileHeader_FileName="JPO6000RegisterDefineFileHeader.cs"
             CodeFileTail_FileName="JPO6000RegisterDefineFileTail.cs"
             CodeFile_Encoding="utf8"
             />
  </support_products>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>