<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />

		<!--<add key="BOARD_ATTACHED" value="true" />
		<add key="ENABLE_MATLAB" value="true" />
		<add key="ENABLE_WEBCORE" value="true" />
		<add key="ENABLE_LXI" value="true" />
		<add key="ENABLE_USB" value="true"/>
		<add key="ENABLE_STYLE" value="true"/>
		<add key="ENABLE_RF" value="false"/>
		<add key="ENABLE_LA" value="true"/>
		<add key="ENABLE_BUS" value="true"/>
		<add key="ENABLE_AWG1" value="true"/>
		<add key="ENABLE_AWG2" value="true"/>
		<add key="ENABLE_SDA" value="true"/>
		<add key="ENABLE_VSA" value="true"/>
		<add key="ENABLE_VERSION" value="true"/>
		<add key="ENABLE_DEBUG" value="false"/>
		<add key="ENABLE_BANDWIDTH" value="true"/>
		<add key="ENABLE_AWG_PROTECT" value="true"/>
		<add key="PRODUCT" value="JiHe_MSO7000X" />

		<add key="TRIGGER_DEFAULT_SENSITIVITY_MDIV" value="400" />

		<add key="SAMPLING_RATE" value="10E9" />
		<add key="ADC_BITS" value="8" />
		<add key="ADC_NUM" value="1" />
		<add key="CHNL_DATA_NUM" value="100000" />

		<add key="VIS_ADC_RES" value="240" />

		<add key="MAX_YDIVS_NUM" value="11" />
		<add key="VIS_YDIVS_NUM" value="8" />
		<add key="IDX_PER_YDIV" value="1000" />

		<add key="VIS_XDIVS_NUM" value="10" />
		<add key="IDX_PER_XDIV" value="1000" />
		<add key="MIN_XPOS_TIME" value="5000" />

		<add key="LOG_ENABLED" value="true"/>

		--><!--Max Analogy Id = C8--><!--
		<add key="MaxAChId" value="C4" />
		--><!--Max Digital Id = D64--><!--
		<add key="MaxDChId" value="D15" />
		--><!--Max Math Id = M48--><!--
		<add key="MaxMChId" value="M8" />
		--><!--Max Reference Id = R16--><!--
		<add key="MaxRChId" value="R4" />
		--><!--Max Bus Id = B2--><!--
		<add key="MaxBChId" value="B2" />
		--><!--Max Parameter Id = P16--><!--
		<add key="MaxPChId" value="P8" />
		--><!--Max Awg Id = AWG4--><!--
		<add key="MaxAwgId" value="AWG2" />

		<add key="MaxRFChId" value="RF1" />

		<add key="MaxPAMNum" value="8" />
		<add key="MaxJMNum" value="8" />
		<add key="MaxVSAMNum" value="8" />

		<add key="C1PosIndex" value="3000" />
		<add key="C2PosIndex" value="1000" />
		<add key="C3PosIndex" value="-1000" />
		<add key="C4PosIndex" value="-3000" />

		<add key="C1ScaleMaxIndex" value="Lv10" />
		<add key="C2ScaleMaxIndex" value="Lv10" />
		<add key="C3ScaleMaxIndex" value="Lv10" />
		<add key="C4ScaleMaxIndex" value="Lv10" />

		<add key="C1ScaleMinIndex" value="Lv1m" />
		<add key="C2ScaleMinIndex" value="Lv1m" />
		<add key="C3ScaleMinIndex" value="Lv1m" />
		<add key="C4ScaleMinIndex" value="Lv1m" />

		<add key="TimebaseMaxIndex" value="Lv1k" />
		<add key="TimebaseMinIndex" value="Lv100p" />
		<add key="TimebaseMinScanIndex" value="Lv50m" />
		<add key="TimebaseMaxItplIndex" value="Lv50n" />

		<add key="AWG1SI" value="4E-6" />
		<add key="AWG2SI" value="4E-6" />
		<add key="AWG3SI" value="4E-6" />
		<add key="AWG4SI" value="4E-6" />

		<add key="AWG1Len" value="10000" />
		<add key="AWG2Len" value="10000" />
		<add key="AWG3Len" value="10000" />
		<add key="AWG4Len" value="10000" />

		<add key="AdaptiveLength" value="true" />

		<add key="MAX_FIGURE_NUM" value="16" />
		<add key="RenderingMode" value="GPU"/>
		<add key="LOG_SAVE_DAYS" value="7"/>

		<add key="COMPORTNUM_KEYBOARD" value="4" />
		<add key="COMPORTNUM_ANALGCHANNEL1" value="2"/>

		<add key="MEASUREGATE_DIVS" value="0.33"/>

		<add key="ANALOGCHANNEL_WORKING_TEMPERATURE" value="50"/>
		<add key="HARDDISK_WORKING_TEMPERATURE" value="50"/>
		<add key="OPTION_LIMIT" value="0"/>
		<add key="TEMPERATURE_MONITOR_ENABLE" value="false"/>-->
	</appSettings>
</configuration>