[
{"Title":"这是一个测试","UsedFor":"All","ClassName":"BatchTask_Demo","TipMessage":"","Description":"","Parameters":" "},

{"Title":"通用xml批处理","UsedFor":"All","ClassName":"BatchTask_ProcessXMLAndPartTask","TipMessage":"","Description":"可用于单个或多个xml批处理的执行。","Parameters":" "},

{"Title":"通道增益校准","UsedFor":"All","ClassName":"BatchTask_ProcessXMLAndPartTask","TipMessage":"通道增益校准","Description":"同时校准两个通道。","Parameters":" "},
{"Title":"通道校准检查","UsedFor":"All","ClassName":"BatchTask_ProcessXMLAndPartTask","TipMessage":"通道基线及增益检查","Description":"同时对两个通道基线及增益检查，并生成Excel结果。","Parameters":" "},
{"Title":"幅频特性检查","UsedFor":"All","ClassName":"BatchTask_ProcessXMLAndPartTask","TipMessage":"幅频特性检查","Description":"同时对两个通道的幅频特性进行检查，并生成Excel结果。","Parameters":" "},

{"Title":"8G通道波形失真校准","UsedFor":"B21_MD8G,B21_HB8G","ClassName":"BatchTask_ProcessXMLAndPartTask","TipMessage":"8G通道波形失真校准","Description":"同时校准两个通道。","Parameters":" "},

{"Title":"扫频-Ch1","UsedFor":"JiHe_MSO7000X,B21_HB8G,B21_HD4G,B21_MD8G,B21_HR1G,B21_MS2G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::181629::INSTR,Ch1,.\\扫频频率点表\\生成TiAdc校准系数扫频频点.txt,.\\ScanFrequencyResultData,10"},
{"Title":"扫频-Ch2","UsedFor":"JiHe_MSO7000X,B21_HB8G,B21_HD4G,B21_MD8G,B21_HR1G,B21_MS2G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::181629::INSTR,Ch2,.\\扫频频率点表\\生成TiAdc校准系数扫频频点.txt,.\\ScanFrequencyResultData,10"},
{"Title":"扫频-Ch3","UsedFor":"JiHe_MSO7000X,B21_HB8G,B21_HD4G,B21_MD8G,B21_HR1G,B21_MS2G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::181629::INSTR,Ch3,.\\扫频频率点表\\生成TiAdc校准系数扫频频点.txt,.\\ScanFrequencyResultData,10"},
{"Title":"扫频-Ch4","UsedFor":"JiHe_MSO7000X,B21_HB8G,B21_HD4G,B21_MD8G,B21_HR1G,B21_MS2G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::181629::INSTR,Ch4,.\\扫频频率点表\\生成TiAdc校准系数扫频频点.txt,.\\ScanFrequencyResultData,10"},
{"Title":"DBI扫频-Ch1","UsedFor":"B21_DBI20G,B21_DBI16G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::182871::INSTR,Ch1,.\\扫频频率点表\\DBI_扫频频点.txt,.\\ScanFrequencyResultData_DBI,10,IsDBI4SubBand"},
{"Title":"DBI扫频-Ch2","UsedFor":"B21_DBI20G,B21_DBI16G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::182871::INSTR,Ch2,.\\扫频频率点表\\DBI_扫频频点.txt,.\\ScanFrequencyResultData_DBI,10,IsDBI4SubBand"},
{"Title":"DBI-获取交叠带频点的多次相位差","UsedFor":"B21_DBI20G,B21_DBI16G","ClassName":"BatchTask_DbiGenerateOverlapBandPhaseError","TipMessage":"获取交叠带频点的多次相位差","Description":"获取交叠带频点的多次相位差。","Parameters":"USB0::0x0AAD::0x0054::182871::INSTR,overlap_phase_error_calculate.dll,.\\扫频频率点表\\DBI_Overlat扫频频点.txt,.\\Dbi_交叠带相位差结果\\Dbi_交叠带相位差结果.txt,10"},

{"Title":"DBI交叠带扫频-Ch1","UsedFor":"B21_DBI20G,B21_DBI16G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::182871::INSTR,Ch1,.\\扫频频率点表\\DBI_Overlat扫频频点.txt,.\\ScanFrequencyResultData_DBI_Overlat,10,IsDBI4SubBand"},
{"Title":"DBI交叠带扫频-Ch2","UsedFor":"B21_DBI20G,B21_DBI16G","ClassName":"BatchTask_ScanFrequency","TipMessage":"","Description":"","Parameters":"USB0::0x0AAD::0x0054::182871::INSTR,Ch2,.\\扫频频率点表\\DBI_Overlat扫频频点.txt,.\\ScanFrequencyResultData_DBI_Overlat,10,IsDBI4SubBand"}

]