<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uestc.Auto6.Dso.Updater.UpdateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Uestc.Auto6.Dso.Updater.UpdateSettings>
            <setting name="USBDefaultImgFileName" serializeAs="String">
                <value>CyBootProgrammer3.0.img</value>
            </setting>
        </Uestc.Auto6.Dso.Updater.UpdateSettings>
    </userSettings>
	<appSettings>
		<add key="IsFullScreen" value="false"/>
	</appSettings>
</configuration>