<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<Prodects>
		<Prodect name="DEFAULT">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1"  IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板2_K7" BoardName="Acq_2" TypeID="4"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板4_K7" BoardName="Acq_4" TypeID="6"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板6_K7" BoardName="Acq_6" TypeID="8"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板7_K7" BoardName="Acq_7" TypeID="9"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板8_K7" BoardName="Acq_8" TypeID="10"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>

		<!-- 深机箱 -->
		<Prodect name="BASE">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1" IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2" IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3"  IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板7_K7" BoardName="Acq_7" TypeID="9"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"           TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>

		<Prodect name="B21_MS2G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1" IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2" IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3" IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5" IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7" IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"      TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>
		<Prodect name="B21_MD8G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1" IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2" IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3"  IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板7_K7" BoardName="Acq_7" TypeID="9"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>

		<Prodect name="B21_HB8G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1" IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2" IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3"  IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板7_K7" BoardName="Acq_7" TypeID="9"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>

		<Prodect name="B21_DBI16G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1" IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2" IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3"  IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板7_K7" BoardName="Acq_7" TypeID="9"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>
		<Prodect name="B21_DBI20G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<ItemDefine ItemType="Fpga" ItemName="处理板S6" BoardName="Proc_S6" TypeID="1"   IDCodeVerify="31_C2_04_00_80_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"   IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板1_K7" BoardName="Acq_1" TypeID="3"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板2_K7" BoardName="Acq_2" TypeID="4"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板4_K7" BoardName="Acq_4" TypeID="6"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板6_K7" BoardName="Acq_6" TypeID="8"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板7_K7" BoardName="Acq_7" TypeID="9"   IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板8_K7" BoardName="Acq_7" TypeID="10"  IDCodeVerify="30_01_80_01_03_90_D0_93" ></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"            TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>

		<!-- 窄机箱 -->

		<Prodect name="B21_HD4G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<!--<ItemDefine ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  FpgaIDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_65_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"           TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>

		<Prodect name="B21_HR1G">
			<!--<ItemDefine ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" FpgaIDCodeVerify="30_01_80_01_03_65_10_93" ></ItemDefine> -->
			<!--<ItemDefine ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  FpgaIDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_65_10_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>
			<ItemDefine ItemType="Software" ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>
		</Prodect>
		<Prodect name="JiHe_MSO8000X">
			<ItemDefine ItemType="Fpga" ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" IDCodeVerify="30_01_80_01_03_82_20_93" ></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_82_20_93"></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="采集板1" BoardName="Acq_1" TypeID="3"   IDCodeVerify="30_01_C0_01_00_40_00_00"></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="采集板2" BoardName="Acq_2" TypeID="4"   IDCodeVerify="30_01_C0_01_00_40_00_00"></ItemDefine>

			<ItemDefine ItemType="USBBridge" ItemName="内部USB" BoardName="USBBridge_InSide" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="USBBridge" ItemName="外部USB" BoardName="USBBridge_OutSide" TypeID="1"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM2" BoardName="AnalogChannel_COM2" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM3" BoardName="AnalogChannel_COM3" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_Keyboard" ItemName="Keyboard_COM4" BoardName="Keyboard_COM4" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="AWG" BoardName="AWG" TypeID="11"   IDCodeVerify="20_00_00_00_20_00_00_00"></ItemDefine>

			<!--<ItemDefine ItemType="Software"ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>-->

		</Prodect>
		<Prodect name="JiHe_MSO7000HD">
			<ItemDefine ItemType="Fpga"              ItemName="PCIE板 FPGA"        BoardName="PCIE"               TypeID="0"   IDCodeVerify="30_01_80_01_03_82_20_93" ></ItemDefine>
			<ItemDefine ItemType="Fpga"              ItemName="处理板K7"           BoardName="Proc_K7"            TypeID="2"   IDCodeVerify="30_01_80_01_03_82_20_93"></ItemDefine>
			<ItemDefine ItemType="Fpga"              ItemName="采集板1"            BoardName="Acq_1"              TypeID="3"   IDCodeVerify="30_01_C0_01_00_40_00_00"></ItemDefine>
			<ItemDefine ItemType="Fpga"              ItemName="采集板2"            BoardName="Acq_2"              TypeID="4"   IDCodeVerify="30_01_C0_01_00_40_00_00"></ItemDefine>
			<ItemDefine ItemType="USBBridge"         ItemName="内部USB"            BoardName="USBBridge_InSide"   TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="USBBridge"         ItemName="外部USB"            BoardName="USBBridge_OutSide"  TypeID="1"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM2" BoardName="AnalogChannel_COM2" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM3" BoardName="AnalogChannel_COM3" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_Keyboard"      ItemName="Keyboard_COM4"      BoardName="Keyboard_COM4"      TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Fpga"              ItemName="AWG"                BoardName="AWG"                TypeID="11"  IDCodeVerify="20_00_00_00_20_00_00_00"></ItemDefine>
		</Prodect>
		
		<Prodect name="JiHe_MSO7000X">
			<ItemDefine ItemType="Fpga" ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" IDCodeVerify="30_01_80_01_03_82_30_93" ></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_82_30_93"></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"   IDCodeVerify="30_01_80_01_03_82_30_93"></ItemDefine>

			<ItemDefine ItemType="USBBridge" ItemName="内部USB" BoardName="USBBridge_InSide" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="USBBridge" ItemName="外部USB" BoardName="USBBridge_OutSide" TypeID="1"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM2" BoardName="AnalogChannel_COM2" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM3" BoardName="AnalogChannel_COM3" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_Keyboard" ItemName="Keyboard_COM4" BoardName="Keyboard_COM4" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="AWG" BoardName="AWG" TypeID="11"   IDCodeVerify="20_00_00_00_20_00_00_00"></ItemDefine>

			<!--<ItemDefine ItemType="Software"ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>-->

		</Prodect>
		<Prodect name="JiHe_MSO7000A">
			<ItemDefine ItemType="Fpga" ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" IDCodeVerify="30_01_80_01_03_82_30_93" ></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_82_30_93"></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="采集板5_K7" BoardName="Acq_5" TypeID="7"   IDCodeVerify="30_01_80_01_03_82_30_93"></ItemDefine>

			<ItemDefine ItemType="USBBridge" ItemName="内部USB" BoardName="USBBridge_InSide" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="USBBridge" ItemName="外部USB" BoardName="USBBridge_OutSide" TypeID="1"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_APP" BoardName="AnalogChannel_COM2" TypeID="17"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_APP" BoardName="AnalogChannel_COM3" TypeID="17"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="AWG" BoardName="AWG" TypeID="11"   IDCodeVerify="20_00_00_00_20_00_00_00"></ItemDefine>

			<!--<ItemDefine ItemType="Mcu_Keyboard" ItemName="Keyboard_COM4" BoardName="Keyboard_COM4" TypeID="0"   IDCodeVerify=""></ItemDefine>-->
			<!--<ItemDefine ItemType="Software"ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>-->

		</Prodect>

		<Prodect name="JiHe_UPO7000L">
			<!-- or  00_00_00_09_20_00_00_00  ljw 24.3-->
			<ItemDefine ItemType="Fpga" ItemName="PCIE板 FPGA" BoardName="PCIE" TypeID="0" IDCodeVerify="02_2A_3F_E5_30_01_C0_01" ></ItemDefine>
			<!--<ItemDefine ItemType="Fpga" ItemName="处理板K7" BoardName="Proc_K7" TypeID="2"  IDCodeVerify="30_01_80_01_03_69_10_93"></ItemDefine>-->
			<!--<ItemDefine ItemType="Fpga" ItemName="采集板3_K7" BoardName="Acq_3" TypeID="5"   IDCodeVerify="30_01_80_01_03_90_D0_93"></ItemDefine>-->
			<ItemDefine ItemType="Fpga" ItemName="采集板0_K7" BoardName="Acq_0" TypeID="3"   IDCodeVerify="30_01_20_01_38_7A_35_E5"></ItemDefine>

			<ItemDefine ItemType="USBBridge" ItemName="内部USB" BoardName="USBBridge_InSide" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="USBBridge" ItemName="外部USB" BoardName="USBBridge_OutSide" TypeID="1"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Mcu_AnalogChannel" ItemName="AnalogChannel_COM2" BoardName="AnalogChannel_COM2" TypeID="0"   IDCodeVerify=""></ItemDefine>
			<ItemDefine ItemType="Fpga" ItemName="AWG" BoardName="AWG" TypeID="11"   IDCodeVerify="20_00_00_00_20_00_00_00"></ItemDefine>
			<!--<ItemDefine ItemType="Software"ItemName="软件程序"  BoardName="SoftWare"        TypeID="99" IsFPGA="false" ></ItemDefine>-->
		</Prodect>
		
	</Prodects>
</configuration>
